html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
    margin: 0 auto;
    padding: 0;
}

video#backgroundvid {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: contain;
}
