<head>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
	<div class="full-screen">
		<div class="question-container">
			<!-- header -->
			<div class="header">
				<h1>Auto-école</h1>
			</div>
			<!-- home -->
			<div class="body home">
				<div class="content">
					<!-- ICI BREVE PRESENTATION --> 
					<center><img src="dmv.png" class="logo"><br><p class="bold-text">Bienvenue à votre Auto-école</center>
					<br><center>Tous les citoyens de Los Santos doivent réussir leur examen de code avant de pouvoir conduire.<br>Prenez votre temps, répondez avec du bon sens, ne répondez pas au hasard.<br><br></center>
					Examen de Code<br>
					- L'examen de code coute 200$, cela n'est pas remboursé si vous échouez.<br>
					- N'ayez pas peur, l'auto-école accepte les crédits, mais faite attention à ne pas vous endetter<br>
					- Si vous loupez votre test une première fois, vous ne pouvez pas le repasser de suite, vous devrez le retenter un autre jour.<br><br>
					Examen de Conduite<br>
					- L'examen de Conduite coute 500$, comme pour l'examen de code, ce paiement ne vous sera pas remboursé si vous échoué.<br>
					- La chose principale pour votre permis c'est de faire attention à ce qui vous entoure et surtout éviter les accidents !</p>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnQuestion">Démarrer</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progrès</h2>
					<progress class="progression" value="0" max="10" >
				</div>
			</div>
			<!-- Question-->
			<div class="body questionnaire-container">
				<div class="content">
					<h2 id="questionNumero"></h2>
					<p id="question"></p>
					<form class="form" id="question-form">
						<div>
							<input type="radio" name="question" id="answerA" value="A">
							<label class="answerA"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerB" value="B">
							<label class="answerB"></label>
						</div>
						<div>
							<input type="radio" name="question" id="answerC" value="C">
							<label class="answerC"></label>
						</div>		
						<div>
							<input type="radio" name="question" id="answerD" value="D">
							<label class="answerD"></label>
						</div>
	              		<button type="submit" id="submit" class="submit">Prochaine question</button>
	          		</form>
				</div>
				<div class ="barre-progression">
					<h2>Progrès</h2>
					<progress class="progression" value="0" max="10" >
				</div>
			</div>
			<!-- Résults -->
			<div class="body resultGood">
				<div class="content">
					<center><p class="bold-text">Bon travail !</p><br><br>Vous avez bien travaillé durant l'examen!<br><br>Vous pouvez maintenant fermer cette fenêtre et passer à l'examen.</center>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnClose">Fermer</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progrès</h2>
					<progress class="progression" value="10" max="10" >
				</div>
			</div>
			<div class="body resultBad">
				<div class="content">
					<center><p class="bold-text">Vous avez échoué</p><br><br>Vous n'êtes pas prêt pour ce test, essayez une nouvelle fois, plus tard...<br><br></center>
				</div>
				<div class="buttonspot">
				<a href="#" class="button btnKick">Fermer</a>
				</div>
				<div class ="barre-progression" >
					<h2>Progrès</h2>
					<progress class="progression" value="10" max="10" >
				</div>
			</div>
		</div>
	</div>

	<script src="nui://game/ui/jquery.js" type="text/javascript"></script>
	<script src="questions.js" type="text/javascript"></script>
	<script src="scripts.js" type="text/javascript"></script>
	<script src="debounce.min.js" type="text/javascript"></script>
	
</body>



					