html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#cursor {
  position: absolute;
  z-index: 999999;
  display: none;
}

#console {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 320px;
	height: 250px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	padding: 5px;
	overflow-y: auto;	
	overflow-x: hidden;
}

#phone {
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	font-family: 'Catamaran', sans-serif;
	font-weight: 400;
	font-size: 12px;
	width: 298px;
	height: 480px;
	color: #212121;
	position: absolute;
	right: 300px;
	bottom: 0;
	overflow: hidden;
	cursor: default;
	display: none;
}

#phone > .container {
	position: absolute;
    top: 59px;
    left: 46px;
    width: 207px;
    height: 365px;
    background-repeat: no-repeat;
	overflow: hidden;
}

#phone .head {
	position: relative;
	text-transform: uppercase;
	text-align: center;
    height: 20px;
    line-height: 20px;
    background-color: black;
	z-index: 5;
}

#phone-icon {
	display: block;
	position: absolute;
  height: 12px;
  line-height: 20px;
	top: 4px;
	right: 5px;
}

#phone-number {
	display: block;
	position: absolute;
    height: 20px;
    line-height: 20px;
	top: 0;
	left: 5px;
	color: white;
}

#phone .menu {
  max-height: 320px;
  overflow-y: scroll;  
  z-index: 1;
}

#phone .menu .home {
	list-style: none outside none;
	margin: 0;
	padding: 13px;
	color: white;
}

#phone .menu .phone-icon {
	position: relative;
	display: block;
	float: left;
	text-align: center;
	width: 60px;
	padding-top: 50px;
	padding-bottom: 5px;
	background-size: 32px 32px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center 10px;
	cursor: pointer;
}

#phone .menu .phone-icon::after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.01);
}

#phone-icon-rep {
	background-image: url("../img/icons/rep.png");
}

#phone-icon-msg {
	background-image: url("../img/icons/msg.png");
}

#phone .menu::-webkit-scrollbar { 
  display: none; 
}

#phone .menu .phone-icon.selected, #phone .menu .phone-icon:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

.screen {
	position: absolute;
	top: 0;
	left: 207px;
	width: 207px;
	height: 365px;
	background-color: #dde1e8;
	z-index: 1;
	transition: left 0.25s ease;
	overflow: hidden;
}

.screen.active {
	left: 0;
}

.screen > .container {
	position: absolute;
	top: 50px;
	left: 0;
	width: 224px;
	height: 315px;
	overflow-y: scroll;
}

.head-screen {
	position: absolute;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: white;
	text-align: center;
	color: #212121;
	background-color: white;
	font-weight: 600;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	font-size: 13px;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 5;
}

.btn-head {
	display: block;
	color: #212121;
	width: 30px;
	height: 30px;
	font-size: 20px;
	cursor: pointer;
}

.btn-head:hover {
	background-color: #f1f1f1;
}

.btn-head-back {
	float: left;
	background: transparent url("../img/icons/back.png") no-repeat 50%;
}

.btn-head-new {
	float: right;
	background: transparent url("../img/icons/add.png") no-repeat 50%;
}

.message, .contact {
	position: relative;
	padding: 3px 35px 3px 25px;
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	color: #212121;
	min-height: 30px;
}

.message.no-item, .contact.no-item {
	padding: 3px 5px;
}

.contact {
	opacity: 0.5;
}

.contact.online, .contact.no-item {
	opacity: 1;
}

.contact::after {
	position: absolute;
	display: block;
	content: '';
	width: 8px;
	height: 8px;
	background-color: #dcdcdc;
	left: 10px;
	top: 8px;
	border-radius: 50%;
}

.contact.online::after {
	background-color: #6ecc49;
}

.contact.no-item::after {
	display: none;
}

.no-item {
	text-align: center;
}

.message .sender-info, .message .body, .contact .sender-info, {
	margin-right: 30px;
}

.message .phone-number {
	line-height: 10px;
	color: #999;
}

.message .body {
	margin-top: 5px;
	line-height: 16px;
}

.sender {
	font-weight: 600;
}

.actions {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 24px;
}

.actions2 {
	position: absolute;
	top: 0;
	right: 24px;
	bottom: 0;
	width: 24px;
}

.actions2 .new-msg {
	display: block;
	width: 24px;
	height: 24px;
	background: transparent url("../img/icons/write.png") no-repeat 50%;
	cursor: pointer;
}

.actions .edit-contact {
	display: block;
	width: 24px;
	height: 24px;
	background: transparent url("../img/icons/edit.png") no-repeat 50%;
	cursor: pointer;
}

.actions .reply-btn {
	display: block;
	width: 24px;
	height: 24px;
	background: transparent url("../img/icons/reply.png") no-repeat 50%;
	cursor: pointer;
}

.actions .gps {
    display: none;
    width: 24px;
    height: 24px;
    background: transparent url(../img/icons/location.png) no-repeat 50%;
    cursor: pointer;
}

.actions .ok-btn {
    display: none;
    width: 24px;
    height: 24px;
    background: transparent url(../img/icons/ok.png) no-repeat 50%;
    cursor: pointer;
}

.contact .actions2 .new-msg, .actions .reply-msg.anonyme, .contact .actions .reply-msg {
	display: none;
}

.contact.online .actions2 .new-msg, .contact.online .actions .reply-msg, .actions .gps.active, .actions .ok-btn.showOK {
	display: block;
}

.actions2 .new-msg, .actions .reply-msg, .actions .edit-contact, .actions .gps, .actions .ok-btn {
	background-color: #ffffff;
}

.actions2 .new-msg:hover, .actions .reply-msg:hover, .actions .edit-contact:hover, .actions .gps:hover, .actions .ok-btn:hover {
	background-color: #f1f1f1;
}

#writer textarea {
    width: 207px;
    min-width: 207px;
    max-width: 207px;
    height: 255px;
    min-height: 255px;
    max-height: 255px;
    background-color: #f1f1f1;
    border: none;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1) inset;
    padding: 5px;
	outline: none;
}

#writer label {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 34px;
    background-color: #f1f1f1;
    border: none;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1) inset;
    font-size: 14px;
    font-weight: 600;
    color: #6b6b6b;
}

#writer label input {
    top: 2px;
    position: relative;
    left: 5px;
    margin-right: 10px;
}

#writer button, #contact button, #contact2 button {
	display: block;
	float: left;
	width: 103px;
	height: 30px;
	line-height: 30px;
	background-color: #dcdcdc;
	border-color: rgba(0, 0, 0, 0.5);
	border: none;
	color: white;
	font-weight: 600;
	cursor: pointer;
	outline: none;
}

#writer button.marged, #contact button.marged, #contact2 button.marged {
	margin-left: 1px;
}

#writer #writer_cancel, #contact #contact_cancel, #contact2 #contact_delete {
	background-color: #d9534f;
}

#writer #writer_send:hover, #contact #contact_send:hover, #contact2 #contact_update:hover {
	background-color: #74c374;
}

#writer #writer_cancel:hover, #contact #contact_cancel:hover, #contact2 #contact_delete:hover {
	background-color: #dc6b68;
}

#writer #writer_send, #contact #contact_send, #contact2 #contact_update {
	background-color: #5cb85c;
}

#contact input, #contact2 input {
    display: block;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 2px 5px;
    background-color: #f1f1f1;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.1) inset;
}