@font-face {
  font-family: bankgothic;
  src: url('../fonts/bankgothic.ttf');
}

@font-face {
  font-family: pcdown;
  src: url('../fonts/pdown.ttf');
}

.menu {
  font-family: bankgothic;  
  min-width  : 400px;
  color      : #fff;
  box-shadow : 0px 0px 50px 0px #000;
  position   : absolute;
}

.menu.align-left {
  left: 40;
  top : 50%;
  transform: translate(0, -50%); 
}

.menu.align-top-left {
  left: 40;
  top : 40; 
}

.menu.align-top {
  left: 50%;
  top : 40;
  transform: translate(-50%, 0);
}

.menu.align-top-right {
  right: 10;
  top  : 40;
}

.menu.align-right {
  right: 40;
  top  : 50%;
  transform: translate(0, -50%); 
}

.menu.align-bottom-right {
  right : 40;
  bottom: 40;
}

.menu.align-bottom {
  left  : 50%;
  bottom: 40;
  transform: translate(-50%, 0); 
}

.menu.align-bottom-left {
  left  : 40;
  bottom: 40;
}

.menu.align-center {
  left : 50%;
  top  : 50%;
  transform: translate(-50%, -50%); 
}

.menu .head {
  font-family: bankgothic;
  background-color: rgba(0, 0, 0, 1);
  text-align      : center;
  height          : 40px;
  line-height     : 40px;
}

.menu .head2 {
  text-align      : center;
  height          : 75px;
  line-height     : 10px;
  transform: translate(0, 0); 
  background-image:url(https://image.noelshack.com/fichiers/2017/47/3/1511362305-banniere.png)

}

.menu .menu-items {
  max-height : 600px;
  overflow-y : auto;
}

.menu .menu-items .menu-item {
  height          : 40px;
  display         : block;
  background-color: rgba(0, 0, 0, 0.4);
  height          : 32px;
  line-height     : 32px;
  color           : #ffffff;
  text-align      : center;

}

.menu .menu-items .menu-item.selected {
  background-color: #ffffff;
  color           : #000000;
}